/*index page css*/
.container
{
width:1150px;
height:780px;
border:solid;
border-width:0px;
float:left;
background-color:#DCD8CF;
margin-left:90px;
font-family: 'Nunito', sans-serif;
}
.head
{
width:1150px;
height:183px;
font-family: 'Nunito', sans-serif;
border:solid;
border-width:0px;
border-color:black;
float:left;
background-color:#191919;
}
.logo1
{
width:420px;
height:128px;
float:left;
margin-top:0px;
margin-left:0px;
border:solid;
border-width:0px;
background-color:#DC5B21;
}
.logo
{
width:400px;
height:120px;
float:left;
margin-top:10px;
margin-left:10px;
border:solid;
border-width:0px;
background-color:white;
}
.beans
{
width:300px;
height:110px;
float:right;
border:solid;
border-width:0px;
margin-top:18px;
margin-right:65px;
background-color:#DC5B21;
}
.beans1
{
width:275px;
height:90px;
float:left;
border:solid;
border-width:0px;
margin-left:10px;
margin-top:10px;
background-color:white;
text-align:center;
font-family: 'Roboto', sans-serif;
font-size:16px;
}
.bar
{
width:720px;
height:40px;
border:solid;
border-width:0px;
border-color:black;
margin-top:15px;
float:left;
background-color:#DC5B21;
}
.home
{
width:130px;
height:40px;
border:solid;
border-width:0px;
border-color:black;
text-align:center;
font-size:22px;
float:left;
text-decoration:none;
color:white;
}
.abtus
{
width:130px;
height:40px;
border:solid;
border-width:0px;
border-color:black;
font-size:22px;
text-align:center;
float:left;
}
.contus
{
width:130px;
height:40px;
border:solid;
border-width:0px;
border-color:black;
font-size:22px;
text-align:center;
float:left;
}
.ps
{
width:250px;
height:40px;
border:solid;
border-width:0px;
border-color:black;
font-size:22px;
text-align:center;
float:left;
}

.bar a{
text-decoration:none;
color:white;
}

.bar a:hover {
display:block;
height:40px;
background-color:#D8D8D8;
color: black;
font-style: italic;
font-weight: bold;
text-decoration:none;
}
.middlebar
{
width:1145px;
height:245px;
font-family: 'Nunito', sans-serif;
border:solid;
border-width:0px;
margin-top:0px;
border-color:black;
float:left;
}

.img
{
width:230px;
height:240px;
border:solid;
border-width:0px;
border-color:black;
margin-left:80px;
margin-top:20px;
float:left;

}
.text
{
width:790px;
height:240px;
font-family: 'Nunito', sans-serif;
font-weight:bold;
font-size:24px;
border:solid;
border-width:0px;
border-color:black;
float:left;
}
.text p
{
font-size:22px;
padding-top:-20px;
text-align:justify;
}
.footer
{
width:1150px;
height:100px;
margin-left:90px;
border:solid;
border-width:0px;
border-color:black;
float:left;
background-color:#191919;
color:white;
font-family: 'Nunito', sans-serif;
}
.bar1
{
width:600px;
height:40px;
border:solid;
border-width:0px;
border-color:black;
margin-top:35px;
float:right;
margin-right:45px;
}
.bar1 a{
text-decoration:none;
color:white;
}
.home1
{
width:100px;
height:40px;
border:solid;
border-width:0px;
border-color:black;
text-align:center;
font-size:22px;
float:left;
text-decoration:none;
color:white;
}
.abtus1
{
width:120px;
height:40px;
border:solid;
border-width:0px;
border-color:black;
font-size:22px;
text-align:center;
float:left;
}
.contus1
{
width:120px;
height:40px;
border:solid;
border-width:0px;
border-color:black;
font-size:22px;
text-align:center;
float:left;
}
.ps1
{
width:250px;
height:40px;
border:solid;
border-width:0px;
border-color:black;
font-size:22px;
text-align:center;
float:left;
}
.text1
{
float:right;
margin-top:30px;
margin-right:10px;
}
.img1
{ 
margin-left:15px;
margin-top:35px;
}
.img2
{ 
margin-left:5px;
}

/*About page css*/

.container1
{
width:1150px;
height:890px;
border:solid;
border-width:0px;
float:left;
background-color:#DCD8CF;
margin-left:90px;
font-family: 'Nunito', sans-serif;
}

.mainimg
{
 width:1000px;
 height:300px;
 margin-left:80px;
 margin-top:20px;
}
.maintext
{
padding-left:80px;
}
.maintext1
{
padding-left:80px;
padding-right:65px;
font-family: 'Nunito', sans-serif;
font-weight:bold;
font-size:14px;
text-align:justify;
}
.maintext1 a{
text-decoration:none;
color:#DC5B21;
font-size:18px;
}


/*contactus page css*/

.container_contactus
{
width:1150px;
height:1085px;
border:solid;
border-width:0px;
float:left;
background-color:#DCD8CF;
margin-left:90px;
font-family: 'Nunito', sans-serif;
}
.heading
{
width:1120px;
height:175px;
border:solid;
border-width:0px;
font-family: 'Nunito', sans-serif;
font-weight:bold;
font-size:16px;
float:left;
text-align:justify;
padding-left:18px;
padding-right:10px;
}
.type
{
width:400px;
height:30px;
}

.type1
{
text-align:center;
font-family: 'Nunito', sans-serif;
font-weight:bold;
font-size:22px;
}
.middlebar_contact
{
width:1015px;
height:315px;
border:solid;
border-width:0px;
border-color:black;
padding-left:125px;
float:left;
}
.map
{
width:900px;
height:300px;
float:left;
}
.address
{
width:285px;
height:175px;
font-family: 'Nunito', sans-serif;
font-weight:bold;
font-size:12px;
border:solid;
border-width:0px;
border-color:black;
float:left;
text-align:center;
padding-top:20px;
}
.contactus_inner
{
width:410px;
height:405px;
border:solid;
border-width:0px;
float:right;
margin-right:125px;
margin-top:0px;
font-family: 'Nunito', sans-serif;
font-weight:bold;
font-size:12px;
}
.sub
{
width:115px;
height:35px;
font-family: 'Nunito', sans-serif;
font-weight:bold;
font-size:16px;
margin-left:145px;
}

/*service page css*/
.product_heading
{
width:1120px;
height:195px;
border:solid;
border-width:0px;
font-family: 'Nunito', sans-serif;
font-weight:bold;
font-size:16px;
float:left;
text-align:justify;
padding-left:18px;
padding-right:10px;
}
.container_service
{
width:1150px;
height:1560px;
border:solid;
border-width:0px;
float:left;
background-color:#DCD8CF;
margin-left:90px;
font-family: 'Nunito', sans-serif;
}
.product_heading a{
text-decoration:none;
color:#DC5B21;
font-size:18px;
}
.service_bar
{
width:1148px;
height:230px;
border:solid;
border-width:0px;
float:left;
}
.service_img
{
width:200px;
height:155px;
border:solid;
border-width:0px;
float:left;
text-align:center;
padding-top:45px;
}
.service_image
{
width:150px;
height:150px;
}
.service_heading
{
width:943px;
height:45px;
border:solid;
border-width:0px;
float:left;
text-align:center;
}

.service_text
{
width:943px;
height:153px;
border:solid;
border-width:0px;
float:left;
}
.service_text a{
text-decoration:none;
color:#DC5B21;
font-size:18px;
}

